<center><h1><font color='#0096FF'>CIS CHAPTER MINI COMPETITION <br> STARTER NOTEBOOK</font></h1>
</center>

***Il s'agit d'un simple Notebook pour se lancer dans la compétition.***

<font color ='red'>Le but de cette étude est d'estimer le poids des individus poissons à partir de leurs mesurations.

Cette étude peut être améliorée pour être utilisée dans les fermes piscicoles. Les poissons individuels nageant devant la caméra peuvent être mesurés à partir de l'image vidéo et le poids du poisson peut être estimé grâce au modèle d'apprentissage automatique.</font>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# COMPRENDRE LES DONNÉES

***Assurez-vous de placer le Notebook (CIS_Starter_Notebook) et les fichiers de donneés (Train.csv et Test.csv) dans le même dossier.***

In [2]:
Train = pd.read_csv("Train.csv")   
Test = pd.read_csv("Test.csv")

In [3]:
Train.head()

,ID,Espèce,LongueurVer,LongueurDia,LongueurCro,Hauteur,Largeur,Poids
0,hAmkM80XrB,Dorade,30.9,33.5,38.6,15.6330,5.1338,610.0
1,j5tRKxc3P4,Éperlan,9.3,9.8,10.8,1.7388,1.0476,6.7
2,w2M3CLts3v,Brochet,48.3,51.7,55.1,8.9262,6.1712,950.0
3,9XCIhKuBo3,Gardon,17.5,18.8,21.2,5.5756,2.9044,78.0
4,xb0n1Eyv8Y,Perche,19.0,21.0,22.5,5.6925,3.5550,110.0

In [4]:
Test.head()

,ID,Espèce,LongueurVer,LongueurDia,LongueurCro,Hauteur,Largeur
0,5gLYcjsz9z,Perche,23.5,25.6,27.0,6.5610,4.2390
1,j0rBCrMwYa,Dorade,31.8,35.0,40.6,15.4686,6.1306
2,GI72jxWh7u,Perche,25.0,26.5,28.0,7.1680,4.1440
3,YJNyDH3z1V,Brochet,30.0,32.3,34.8,5.5680,3.3756
4,y98GtegfKY,Perche,20.0,22.0,23.5,5.6400,3.5250

**Signification des colonnes :**
* Espèce : Nom de l'espèce du poisson
* Poids : Poids du poisson en gramme
* LongueurVer : Longueur verticale en cm
* LongueurDia : Longueur diagonale en cm
* LongueurCro : Longueur de la croix en cm
* Hauteur : Hauteur en cm
* Largeur : Largeur diagonale en cm

Notre variable dépendante est 'Poids' **(a prédire)**. Les variables indépendantes sont 'Espèce', différentes longueurs, 'Hauteur' et 'Largeur'.

<center><h1><font color='#0096FF'>C'est sur vous maintenant de :</font></h1>
</center>

* Explorer mieux votre Data (EDA).
* Faire le prétraitement des données (Preprocessing).
* Entrainer votre modéle de machine learning.
* Evaluer votre modéle.
* Génerer les predictions sur les donneés de Test (Test.csv).
* Preparer le fichier de soumission.

<center><h1><font color='#0096FF'>Noter Bien :</font></h1>
</center>

***La métrique d'évaluation pour ce défi est root_mean_squared_error (RMSE)<br>
Votre fichier de soumission devrait ressembler à ceci :***

In [5]:
sub = pd.read_csv("SampleSubmissionFile.csv")
sub.head()

           ID Poids Estimé
0  5gLYcjsz9z            -
1  j0rBCrMwYa            -
2  GI72jxWh7u            -
3  YJNyDH3z1V            -
4  y98GtegfKY            -

***La colonne Poids Estimé contient les valeurs obtenus par la prediction sur les données de Test***